/.quarto/
**/*.quarto_ipynb
.DS_Store
slides/mathjax-config.js
slides/.gitignore
slides/docs/.nojekyll
slides/docs/day1.html
slides/docs/index.html
slides/docs/search.json
slides/docs/images/microkernel.png
slides/docs/images/mono_vs_micro.png
slides/docs/images/old_os.png
slides/docs/images/OSOverview.png
slides/docs/images/toplanguages.png
slides/docs/site_libs/clipboard/clipboard.min.js
slides/docs/site_libs/quarto-html/light-border.css
slides/docs/site_libs/quarto-html/popper.min.js
slides/docs/site_libs/quarto-html/quarto-syntax-highlighting-587c61ba64f3a5504c4d52d930310e48.css
slides/docs/site_libs/quarto-html/tabby.min.js
slides/docs/site_libs/quarto-html/tippy.css
slides/docs/site_libs/quarto-html/tippy.umd.min.js
slides/docs/site_libs/revealjs/dist/reset.css
slides/docs/site_libs/revealjs/dist/reveal.css
slides/docs/site_libs/revealjs/dist/reveal.esm.js
slides/docs/site_libs/revealjs/dist/reveal.esm.js.map
slides/docs/site_libs/revealjs/dist/reveal.js
slides/docs/site_libs/revealjs/dist/reveal.js.map
slides/docs/site_libs/revealjs/dist/theme/quarto-ce3e30e0a5383175c156caf6da014522.css
slides/docs/site_libs/revealjs/dist/theme/fonts/league-gothic/league-gothic.css
slides/docs/site_libs/revealjs/dist/theme/fonts/league-gothic/league-gothic.eot
slides/docs/site_libs/revealjs/dist/theme/fonts/league-gothic/league-gothic.ttf
slides/docs/site_libs/revealjs/dist/theme/fonts/league-gothic/league-gothic.woff
slides/docs/site_libs/revealjs/dist/theme/fonts/league-gothic/LICENSE
slides/docs/site_libs/revealjs/dist/theme/fonts/source-sans-pro/LICENSE
slides/docs/site_libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-italic.eot
slides/docs/site_libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-italic.ttf
slides/docs/site_libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-italic.woff
slides/docs/site_libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-regular.eot
slides/docs/site_libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-regular.ttf
slides/docs/site_libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-regular.woff
slides/docs/site_libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-semibold.eot
slides/docs/site_libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-semibold.ttf
slides/docs/site_libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-semibold.woff
slides/docs/site_libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-semibolditalic.eot
slides/docs/site_libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-semibolditalic.ttf
slides/docs/site_libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-semibolditalic.woff
slides/docs/site_libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro.css
slides/docs/site_libs/revealjs/plugin/highlight/highlight.esm.js
slides/docs/site_libs/revealjs/plugin/highlight/highlight.js
slides/docs/site_libs/revealjs/plugin/highlight/monokai.css
slides/docs/site_libs/revealjs/plugin/highlight/plugin.js
slides/docs/site_libs/revealjs/plugin/highlight/zenburn.css
slides/docs/site_libs/revealjs/plugin/markdown/markdown.esm.js
slides/docs/site_libs/revealjs/plugin/markdown/markdown.js
slides/docs/site_libs/revealjs/plugin/markdown/plugin.js
slides/docs/site_libs/revealjs/plugin/math/katex.js
slides/docs/site_libs/revealjs/plugin/math/math.esm.js
slides/docs/site_libs/revealjs/plugin/math/math.js
slides/docs/site_libs/revealjs/plugin/math/mathjax2.js
slides/docs/site_libs/revealjs/plugin/math/mathjax3.js
slides/docs/site_libs/revealjs/plugin/math/plugin.js
slides/docs/site_libs/revealjs/plugin/notes/notes.esm.js
slides/docs/site_libs/revealjs/plugin/notes/notes.js
slides/docs/site_libs/revealjs/plugin/notes/plugin.js
slides/docs/site_libs/revealjs/plugin/notes/speaker-view.html
slides/docs/site_libs/revealjs/plugin/pdf-export/pdfexport.js
slides/docs/site_libs/revealjs/plugin/pdf-export/plugin.yml
slides/docs/site_libs/revealjs/plugin/quarto-line-highlight/line-highlight.css
slides/docs/site_libs/revealjs/plugin/quarto-line-highlight/line-highlight.js
slides/docs/site_libs/revealjs/plugin/quarto-line-highlight/plugin.yml
slides/docs/site_libs/revealjs/plugin/quarto-support/footer.css
slides/docs/site_libs/revealjs/plugin/quarto-support/plugin.yml
slides/docs/site_libs/revealjs/plugin/quarto-support/support.js
slides/docs/site_libs/revealjs/plugin/reveal-menu/menu.css
slides/docs/site_libs/revealjs/plugin/reveal-menu/menu.js
slides/docs/site_libs/revealjs/plugin/reveal-menu/plugin.yml
slides/docs/site_libs/revealjs/plugin/reveal-menu/quarto-menu.css
slides/docs/site_libs/revealjs/plugin/reveal-menu/quarto-menu.js
slides/docs/site_libs/revealjs/plugin/search/plugin.js
slides/docs/site_libs/revealjs/plugin/search/search.esm.js
slides/docs/site_libs/revealjs/plugin/search/search.js
slides/docs/site_libs/revealjs/plugin/zoom/plugin.js
slides/docs/site_libs/revealjs/plugin/zoom/zoom.esm.js
slides/docs/site_libs/revealjs/plugin/zoom/zoom.js
