on:
  workflow_dispatch:
  push:
    branches: main

name: Quarto Publish

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2
      
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9.12' # Or your desired version

      - name: Install dependencies
        run: |
          pip install nbformat nbclient jupyter

      - name: Render and Publish
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
          path: slides
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
